body{
    background-color:rgb(200, 200, 241);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    
}
.container{
    background-color: rgb(6, 53, 83);
    padding: 10%;
    border-radius: 5%;
    color: white;
    
} 
h1{
    font-size: 130%;
}
#password {
    padding: 10px;
    font-size: 16px;
    width: 100%;
    max-width: 300px;
    margin-bottom: 10px;
    margin-left: 8%;
}

#strength {
    font-size: 15px;
    padding: 10px;
    color: white;
    width: 40%;
    text-align: center;
    margin-left: 25%;
}

.weak {
    background-color: red;
}

.average {
    background-color: orange;
}

.strong {
    background-color: green;
}